@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #F7CE68;
}

h1 {
    text-align: center;
    font-family: 'Lugrasimo', cursive;
    position: relative;
    animation: moveText 5s infinite linear;
    text-shadow: 2px 2px 4px rgba(25, 158, 176, 0.5);
    color: purple;
}

@keyframes moveText {
    0% {
        left: 0;
    }

    /* Start position */
    100% {
        left: 20px;
    }

    /* End position */
}




#generate-button {
    background-image: linear-gradient(to right, #6441A5 0%, #2a0845 51%, #6441A5 100%);
    margin: 20px auto;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    cursor: pointer;
}

#generate-button:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}







#riddles-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.riddle-block {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #FFDEE9;
}

.riddle-block h2 {
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    #riddles-container {
        grid-template-columns: 1fr;
    }
}

h2 {
    font-family: 'Lobster', cursive;
}

p {
    font-family: 'Dancing Script', cursive;
    font-size: 22px;
    color: indianred;
}

/* Style the answer section */
.riddle-block .ans {
    margin-bottom: 0;
    display: none;
    /* Hide answer by default */
}

/* Style the toggle button */
.riddle-block button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #0093E9;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Dancing Script', cursive;
    cursor: pointer;

}

.riddle-block button:hover {
    background-color: #0056b3;
}

h6{
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

